/* GLOBAL STYLES
-------------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 43.75rem;
    text-transform: uppercase;
}

/* CUSTOMIZE THE MAIN BG FOR HOME 
-------------------------------------------------- */

/* Styling and fetching IMG */
.masthead {
  background:linear-gradient(0deg,rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url('img/Blurry_Video_mainbg.mp4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  color: #fff;
}





